#grid-area {
    display: grid;
    grid-template-areas: 
        "menu logo logo"
        "menu info banner"
        "menu info2 banner"
        "none none none"
        "footer footer footer";
        height: 100vh;
        gap: 5px;
        grid-template-rows: 100px  auto auto 100px;
        grid-template-columns: 100px auto 150px;
}
header {
    background-color: brown;
    grid-area: logo;
}
nav {
    background-color: blueviolet;
    grid-area: menu;
}
section {
    background-color: green;
    grid-area: info;
}
article {
    background-color: burlywood;
    grid-area: info2;
}
aside {
    background-color: blue;
    grid-area: banner;
}
footer {
    background-color: rgb(16, 156, 156);
    grid-area: footer;
}